body {
    margin: 0;
    margin-top: 90px;
    padding: 0;
    padding-bottom: 25px;
    font-family: 'Lato', sans-serif;
    background-color: #403f3f;
    background-image: url(assets/kat-background.png);
}

.background-image {
    position: fixed;
    z-index: -2;
    top: 85px;
    right: 0;
    width: 1920px;
    height: 100%;
    /* background-position: right; */
}


p {
    margin: 0;
    padding: 0;
}


.navbar {
    z-index: 100;
    position: fixed;
    width: 100%;
    height: 85px;
    top: 0;
    left: 0;
    background-color: rgb(84, 97, 84);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 50px;

    background-image: url("assets/overlays/wool/lime.png");
    background-size: 35px;
    background-repeat: reapet;

}


.navbar-logo-container {
    /* border: 1px solid black; */
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin-left: 25px;
    /* width: 70px; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    box-shadow: inset 0px 0px 11px 6px rgba(0,0,0,0.35);

    background-image: url("assets/overlays/wool/green.png");
    background-size: 35px;
    background-repeat: reapet;
}

.navbar-logo {
    height: 110%;
    margin-bottom: 10px;
    margin-left: 1px;
    /* height: 70px; */
    /* height: 90%; */
    /* margin-left: 10px; */
    
    
}

.nav-links {
    /* border: 1px solid black; */
    font-size: 24px;
    font-weight: 500;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    width: 650px;
    height: 100%;
    align-items: center;

    background-image: url("assets/overlays/wool/green.png");
    background-size: 35px;
    background-repeat: reapet;
}

.active {
    background-color: rgb(97, 101, 97);

    background-image: url("assets/overlays/wool/red.png");
    background-size: 35px;
    background-repeat: reapet;
}


.nav-links li {
    /* border: 1px solid black; */
    color: rgb(255, 255, 255);
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    box-shadow: inset 1px 1px 5px 1px rgba(0,0,0,0.15);
    transition: background-color 0.15s ease-in-out background-image 1s ease-in-out;
    cursor: pointer;
}


.nav-links li:hover {
    background-color: rgb(97, 101, 97);
    background-image: url("assets/overlays/wool/red.png");
    background-size: 35px;
    background-repeat: reapet;
}

.nav-links li a {
    text-decoration: none;
    color: inherit;
}

.main-container {
    /* border: 1px solid red; */
    box-sizing: border-box;
    /* background-color: #4e4e4e; */
    /* background: linear-gradient(90deg, rgba(80,80,80,1) 0%, rgba(92,92,92,1) 36%, rgba(144,104,110,1) 100%); */
    width: 100%;
    /* height: 800px; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}

.image-container {
    box-sizing: border-box;
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    flex: 2;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.content-container {
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #494848;
    background-image: url("assets/stonebrick.png");
    background-size: 35px;
    background-repeat: repeat;
    box-shadow: -5px 0 10px rgba(0,0,0,0.15);
    width: 1250px;
    /* height: 100%; */
    padding-bottom: 10px;
    position: absolute;
    right: 10px;
    top: 95px;
    /* flex: 3; */
    /* margin-left: px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
}

.text-container {
    margin-top: 50px;
    margin-left: 50px;
}

.header-container {
    /* border: 1px solid black; */
    position: absolute;
    display: flex;
    padding-left: 20px;
    width: 180px;
    box-shadow: 5px 5px 13px 5px rgba(0,0,0,0.25);
    border-radius: 10px;
    color: rgb(198, 194, 194);
    left: 50px;
    top: 25px;
    /* height: 500px; */
    /* padding: 10px 25px; */
    /* border-radius: 10px; */
    /* box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.15); */
    /* background-color: #4f4e4e; */
    /* color: rgb(198, 194, 194); */
    /* position: absolute; */
    /* width: 480px; */
    /* height: 50px; */
    /* right: 35px; */
    /* top: 25px; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* transition: box-shadow 0.25s opacity 0.25s; */

    background-image: url("assets/overlays/wool/gray.png");
    background-size: 35px;
    background-repeat: reapet;
}

.text-container h1 {
    color: #e1e1e1;
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}

.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    row-gap: 35px;
    margin-bottom: 50px;
    margin-top: 150px;
}


.card {
    border: 1px solid black;
    width: 300px;
    height: 400px;
    background-color: #8a3d3d;
    background-image: url("assets/overlays/wool/red.png");
    background-size: 35px;
    background-repeat: repeat;
    border-radius: 12px;
    box-shadow: inset 0px 0px 12px 3px rgba(0,0,0,0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    padding-bottom: 10px;

}

.card-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 20px;
    padding-top: 10px;
}

.image-border {
    margin-left: 20px;
    /* width: 100px; */
    background-color: #848484;
    /* border: 1px solid rgb(72, 71, 71); */
    border-radius: 50%;
    padding: 5px;
}

.image-border-rarity {
    /* width: 100px; */
    background-color: #000000;
    /* border: 1px solid rgb(72, 71, 71); */
    border-radius: 50%;
    padding: 12px;
}

.card-header img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    /* border: 1px solid black; */
}

.pet-name {
    color: #ffffff;
    font-size: 25px;
    font-weight: 600;
}


.card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    row-gap: 8px;
    padding: 15px;
    box-sizing: border-box;
    /* text-align: left; */
}

.card-content div{
    font-size: 19px;
}


.card-content span {
    width: 150px;
    float: left;
    color: #ffffff;
    padding-left: 10px;
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.pet-name {
    text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;
}

.card-content p {
    color: rgb(152, 255, 152);
}


.card-button {
    /* box-sizing: border-box; */
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgb(255, 166, 166);
    font-weight: 600;
    box-shadow: inset 0px 0px 8px 3px rgba(0,0,0,0.15);
    font-size: 15px;
    padding: 9px 10px;
    border-radius: 12px;
    transition: opacity 0.1s ease-in-out;
    cursor: pointer;

    background-image: url("assets/overlays/wool/pink.png");
    background-size: 35px;
    background-repeat: reapet;
}

.card-button:hover {
    opacity: 0.9;
}

/* .notification {
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 20px;
  font-size: 18px;
  font-weight: 500;
  background-color: #9f9c9c;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 9999;

  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.notification.show {
    /* When the notification is visible, set opacity to 1 */
    /* opacity: 1; */
  /* } */

.notification {
position: fixed;
bottom: 20px;
right: 20px;
padding: 20px;
font-size: 18px;
font-weight: 500;
background-color: #9f9c9c;
color: #ffffff;
border: 1px solid rgba(0, 0, 0, 0.5);
border-radius: 6px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
z-index: 9999;
opacity: 0;
transform: translateY(20px);
transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

background-image: url("assets/overlays/wool/gray.png");
background-size: 35px;
background-repeat: reapet;
}


.notification.notification-appear {
    opacity: 1;
    transform: translateY(0);
  }
  
  .notification.notification-disappear {
    opacity: 0;
    transform: translateY(20px);
  }


.kat-image {
    position: fixed;
    width: 400px;
    /* margin-top: 25px; */
    /* margin-left: 400px; */
    right: 1235px;
}

.last-updated-container {
    /* border: solid 1px black; */
    padding: 10px 25px;
    border-radius: 10px;
    box-shadow: 5px 5px 13px 5px rgba(0,0,0,0.35);
    background-color: #4f4e4e;
    color: rgb(198, 194, 194);
    position: absolute;
    /* width: 480px; */
    height: 50px;
    right: 35px;
    top: 25px;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    transition: box-shadow 0.25s opacity 0.25s;

    background-image: url("assets/overlays/wool/gray.png");
    background-size: 35px;
    background-repeat: reapet;
    /* justify-content: center; */
    /* row-gap: 3px; */
}

/* .info-container { */
    /* border: solid 1px black; */
/* } */

.note-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: solid 1px black;     */
}

.last-updated-container:hover {
    opacity: 0.8;
    box-shadow: 5px 5px 5px 3px rgba(0,0,0,0.25);
    cursor: pointer;
}


/* #rotate-icon { */
    /* margin-top: 1px; */
    /* height: 500px; */
    /* width: 50px; */
/* } */

.last-updated-text {
    font-size: 25px;
    margin-left: 15px;
}

.note-text {
    font-size: 12px;
    font-weight: 700;
    /* color: rgba(0, 0, 0, 0.8) */

}